// ion-content {
//   --background: #fff url("../../assets/imgs/bg2.png") no-repeat center center / cover;
// }

// .background-image {
//   --background: url('../../assets/imgs/bg2.png') no-repeat center center / cover;
// }


.page-container {
  background: url('../../assets/imgs/bg7.png') no-repeat center center / cover;
  // background: #e6e6e6;
  height: 100%;
}
.input-item {
  margin: 5px;
  border-radius: 5px;
}
