// ion-checkbox{
//   ion-text{
//     font
//   }
// }

ion-input{
  border-bottom: solid 1px #dedede;
}
// .input-underline{
//   border-bottom: solid 1px #dedede;
// }


ion-card-header{
  padding-block: 8px 0;
}

.relative-section{
  ion-col{
    padding-block: 0;
  }
}