<!-- <div>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange)="export($event)" readonly>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div> -->

<!-- style="margin-top: -12px;" -->
<div>
  <input matInput datePickerFormat="YYYY-MM-DD" (focus)="picker.open()" (click)="picker.open()" [matDatepicker]="picker"
    (dateChange)="export($event)" readonly [(ngModel)]="counterNumber">
  <!-- <ion-row>
    <ion-col> <input matInput datePickerFormat="YYYY-MM-DD" (focus)="picker.open()" [matDatepicker]="picker" (dateChange)="export($event)" readonly [(ngModel)]="counterNumber"></ion-col>
    <ion-col size="auto" style="padding: 0;">
      <div style="margin-top: -5px;">
        <mat-datepicker-toggle matIconSuffix [for]="picker" style="margin-top: -10px;"></mat-datepicker-toggle>
      </div>
     
    </ion-col>
  </ion-row> -->
</div>
<div><mat-datepicker #picker></mat-datepicker></div>