<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <ion-row style="width: 100%;">
      <ion-col size="auto" *ngIf="node.IDF>0">
        <div style="width: 25px; height: 40px; margin-top: -15px;">
        </div>
      </ion-col>

      <ion-col size="auto">
        <button (click)="btnNode(node);" mat-icon-button *ngIf="iconSrc!=''">
          <ion-icon slot="icon-only" [src]="iconSrc"></ion-icon>
        </button>
      </ion-col>
      <ion-col *ngIf="IsCheckbox" size="auto">
        <ion-checkbox (ionChange)="select(node, $event);" [checked]="tblSelectedCat.includes(node.IDP)"></ion-checkbox>
      </ion-col>

      <ion-col size="auto" *ngIf="node.IDF==0 && IsImgDisplay">
        <ion-img [src]="all.imgUrl+all.User.IDC+'%2FCatImgs%2F'+node.ImgExt+'?alt=media&token='"
          style="max-width: 40px; margin: 4px;" (ionError)="imageLoaded($event)">
        </ion-img>
      </ion-col>

      <ion-col style="padding-inline-start: 3px; display: flex; align-items: center;">
        &nbsp; <a (click)="getNode(node)" >{{ node[prop] }} </a> 
      </ion-col>
      <ion-col size="auto" *ngIf="IsProgressBar" style="padding-inline-end: 3px; display: flex; align-items: center;">
        {{ node.SchedulePersent/100 }}
        <ion-progress-bar [value]="node.SchedulePersent/100"
          style="width: 100px;margin-inline-start: auto;height: 15px; border-radius: 3px;"
          [color]="node.SchedulePersent/100>0.8? 'danger' : (node.SchedulePersent/100>=0.5? 'warning' : 'primary' )"></ion-progress-bar>
      </ion-col>
      <ion-col size="auto" *ngIf="IsBtnAddSub">
        <ion-button (click)="addSubNode(node)" size="small" fill="clear" color="success" style="margin: 0;">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto" *ngIf="IsBtnEdit">
        <ion-button (click)="editNode(node)" size="small" fill="clear" color="warning" style="margin: 0;">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="auto" *ngIf="IsBtnDel">
        <ion-button (click)="delNode(node)" size="small" fill="clear" color="danger" style="margin: 0;">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- <ion-col size="auto" *ngIf="IsBtnDetail">
        <ion-button (click)="getNode(node)" size="small" fill="clear" color="danger" style="margin: 0;">
          <ion-icon slot="icon-only" name="code-working"></ion-icon>
        </ion-button>
      </ion-col> -->
    </ion-row>
  </mat-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                 [cdkTreeNodeTypeaheadLabel]="node[prop]">
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node[prop]">

      <ion-icon slot="start" [name]="treeControl.isExpanded(node) ? 'remove' : 'add'">
      </ion-icon>
    </button>
    {{node[prop]}}
  </mat-tree-node>
</mat-tree>